<nav class="navigation">
    <div class="navigation__wrapper">

        <ul class="navigation__list">
            
            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="/index.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'index'){ navigation__link--current}">
                    <span class="navigation__link__name" itemprop="name">ГЛАВНАЯ</span>
                </a>
            </li>
            
            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="/about.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'about'){ navigation__link--current}">
                    <span class="navigation__link__name" itemprop="name">О КОМПАНИИ</span>
                </a>
            </li>
            
            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="/partners.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'partners'){ navigation__link--current}">
                    <span class="navigation__link__name" itemprop="name">ПАРТНЕРАМ</span>
                </a>
            </li>

            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="/contact-us.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'contact-us'){ navigation__link--current}">
                    <span class="navigation__link__name" itemprop="name">КОНТАКТЫ</span>
                </a>
            </li>

        </ul>
    </div>
</nav>