<nav class="navigation">
    <div class="navigation__wrapper">

        <ul class="navigation__list">

            <li class="navigation__item j-navigation" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="#index" itemprop="url" class="navigation__link j-navigation-link">
                    <span class="navigation__link__name" itemprop="name">ГЛАВНАЯ</span>
                </a>
            </li>

            <li class="navigation__item j-navigation" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="#about" itemprop="url" class="navigation__link j-navigation-link">
                    <span class="navigation__link__name" itemprop="name">О КОМПАНИИ</span>
                </a>
            </li>

            <li class="navigation__item j-navigation" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="#partners" itemprop="url" class="navigation__link j-navigation-link">
                    <span class="navigation__link__name" itemprop="name">ПАРТНЕРАМ</span>
                </a>
            </li>

            <li class="navigation__item j-navigation" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="#contact-us" itemprop="url" class="navigation__link j-navigation-link">
                    <span class="navigation__link__name" itemprop="name">КОНТАКТЫ</span>
                </a>
            </li>

        </ul>
    </div>
</nav>
