<template id="tmpl-popup-message">
    <div class="popup popup--message" id="popup_message">
        <div class="popup__dialog">
            <section class="popup__content">
                <b class="popup__close j-popup-close">
                    <svg class="popup__close__icon" role="img">
                        <use xlink:href="#close" />
                    </svg>
                </b>

                {{#if title}}
                <header class="popup__header">
                    <h4 class="popup__header__title">{{title}}</h4>
                </header>
                {{/if}}

                {{#if text}}
                <article class="popup__body">
                    {{text}}
                </article>
                {{/if}}

            </section>
        </div>
    </div>
</template>

<template id="tmpl-popup-error">
    <div class="popup popup--error" id="popup_error">
        <div class="popup__dialog">
            <section class="popup__content">
                <b class="popup__close j-popup-close">
                    <svg class="popup__close__icon" role="img">
                        <use xlink:href="#close" />
                    </svg>
                </b>

                {{#if title}}
                <header class="popup__header">
                    <h4 class="popup__header__title">{{title}}</h4>
                </header>
                {{/if}}

                {{#if text}}
                <article class="popup__body">
                    {{text}}
                </article>
                {{/if}}

            </section>
        </div>
    </div>
</template>
