@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    <div class="layout-wrapper__lamp"></div>
    <div class="layout-wrapper__lamp-lighter"></div>

    @@include('./components/_header.html', {
        "current": "about"
    })

    <div class="layout-wrapper__pusher">
        <div class="content clearfix">
            <div class="title">НЕМНОГО<br>О СЕБЕ</div>

            <div class="content__inner">
                <p><strong>“Worldwide games”</strong> – российская компания, созданная в 2017 г.,  с целью популяризации культуры настольных игр в России, их издания и обеспечения  максимальной доступности. Является подразделением одной из крупнейших в России сетей специализированных магазинов настольных игр «Знаем играем», созданной в 2011 году. На сегодняшний день сеть насчитывает более 50 магазинов в 34 городах России и ближнего зарубежья. </p>
                <p>В ассортимент магазинов входит продукция таких производителей, как Hasbro, Piatnik, Hobby Games, Ravensburger, Mattel, Tactic, Magellan, Kod-Kod, Fantasy Flight Games, Days of Wonder, Games Workshop, Philos, Steve Jackson Games, Hans im Gluck,  Nexus, ThinkFun  и др.</p>
                <p>Мы стремимся выпускать на рынок самые интересные продукты издателей со всего мира, а также собственные разработки. Накопленный  опыт, знания и профессиональный подход команды являются прочным фундаментом развития компании. Мы бесконечно привержены своему делу, а достигнутые результаты вдохновляют нас на новые победы.</p>
                <p><strong>Миссия Компании</strong><br>Популяризация культуры настольных игр и обеспечение доступности их многообразия  для каждого.</p>
                <p><strong>Цель</strong><br>"20-20" - к концу 2020 г. издать в России не менее 20 настольных игр.</p>
            </div>
        </div>

        <div class="parallax-picture parallax-picture__purple-contacts rellax" data-rellax-speed="7">
            <img src="/images/purple-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__orange-contacts rellax" data-rellax-speed="7">
            <img src="/images/orange-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__batterfly rellax" data-rellax-speed="7">
            <img src="/images/batterfly.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__pushpin-large rellax" data-rellax-speed="7">
            <img src="/images/pushpin-large.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__pushpin-small rellax" data-rellax-speed="7">
            <img src="/images/pushpin-small.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__loop rellax" data-rellax-speed="7">
            <img src="/images/loop.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__map-compos rellax" data-rellax-speed="7">
            <img src="/images/map-compos.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__world-map rellax" data-rellax-speed="7">
            <img src="/images/world-map.png" class="parallax-picture__src" alt="">
        </div>
    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')
