@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    <div class="layout-wrapper__lamp"></div>
    <div class="layout-wrapper__lamp-lighter"></div>

    @@include('./components/_header.html', {
        "current": "index"
    })

    <div class="layout-wrapper__pusher">
        <div class="content clearfix">
            <div class="title title--large title--index">ЛУЧШИЕ ИГРЫ<br>СО ВСЕГО МИРА!</div>
        </div>

        <div class="parallax-picture parallax-picture__purple-contacts rellax" data-rellax-speed="7">
            <img src="/images/purple-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__orange-contacts rellax" data-rellax-speed="7">
            <img src="/images/orange-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__playing-card rellax" data-rellax-speed="7">
            <img src="/images/playing-card-with-shadow.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__dice rellax" data-rellax-speed="7">
            <img src="/images/dice.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__dice-far-away rellax" data-rellax-speed="7">
            <img src="/images/dice-far-away.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__dice-near rellax" data-rellax-speed="7">
            <img src="/images/dice-near.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__orange-item rellax" data-rellax-speed="7">
            <img src="/images/orange-item.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__purple-chip rellax" data-rellax-speed="7">
            <img src="/images/purple-chip.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__yellow-chip rellax" data-rellax-speed="7">
            <img src="/images/yellow-chip.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__blue-pawn rellax" data-rellax-speed="7">
            <img src="/images/blue-pawn.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__pawn rellax" data-rellax-speed="7">
            <img src="/images/pawn.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__purple-item rellax" data-rellax-speed="7"></div>
            <img src="/images/purple-item.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__batterfly rellax" data-rellax-speed="7">
            <img src="/images/batterfly.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__game-map rellax" data-rellax-speed="7">
            <img src="/images/game-map.png" class="parallax-picture__src" alt="">
        </div>
    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')
