.contacts {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 25px;

    &__phone {
        color: #fff;
        font-size: 2.4rem;
        font-weight: 700;
        text-decoration: none;
        transition: color $a-time $a-func;

        &:hover {
            color: #ff8700;
        }
    }

    &__email {
        color: #ff8700;
        font-size: 1.6rem;
        text-decoration: none;
        transition: color $a-time $a-func;

        &:hover {
            color: #fff;
        }
    }
}