.contacts {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 25px;
    padding-left: 7px;

    @media (max-width: 480px) {
        font-size: 2.4rem;
        font-weight: 400;
    }

    &__phone {
        color: #fff;
        font-size: 2.4rem;
        font-weight: 700;
        text-decoration: none;
        transition: color $a-time $a-func;

        @media (max-width: 480px) {
            font-size: 2.5rem;
        }

        &:hover {
            color: #ff8700;
        }
    }

    &__email {
        color: #ff8700;
        font-size: 1.6rem;
        text-decoration: none;
        transition: color $a-time $a-func;

        @media (max-width: 480px) {
            font-size: 2.5rem;
        }

        &:hover {
            color: #fff;
        }
    }
}
