.logo {
    width: 173px;
    // width: 243px;
    display: block;
    border: 1px solid lime;
    background: url(/images/logo.png) no-repeat 50% 50%;
    background-size: 100% 100%;

    &:before {
        content: "";
        display: block;
        padding-bottom: 56.6473988439%;
    }

    @media (max-width: 480px) {
        width: 100px;
    }
}