.logo {
    width: 243px;
    font-size: 0;
    display: block;
    overflow: hidden;
    text-indent: -100px;
    background: url(/images/logo.png) no-repeat 0 50%;
    background-size: auto 100%;

    @media (max-width: 480px) {
        width: 160px;
    }

    @media (max-width: 768px) {
        width: 100px;
    }
}
