.navigation {
    width: 100%;
    margin-bottom: -18px;

    @media (max-width: 480px) {
        display: none;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        width: 24%;
        display: block;
        margin-right: 1%;
    }

    &__link {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1;
        display: block;
        text-decoration: none;
        position: relative;

        font-family: $font-raleway;
        transition: color $a-time $a-func;

        &:after {
            width: 100%;
            height: 3px;
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            opacity: 0;
            z-index: -1;
            background-color: #350142;
            transition: opacity $a-time $a-func;
        }

        &:hover {
            color: #ff8700;
        }

        &__name {
            padding-bottom: 8px;
            display: inline-block;
            border-bottom: 3px solid transparent;
            transition: border-color $a-time $a-func;
        }

        &--current &__name {
            border-bottom: 3px solid #ff8700;
        }

        &--current {
            color: #ff8700;

            &:after {
                opacity: 1;
            }
        }
    }

}
