.paper {
    width: 100%;
    max-width: 45%;
    margin: 0 auto;
    max-height: 52vh;
    position: relative;

    padding: 63px 49px 20px 84px;
    background: url(../images/paper-upper.png) no-repeat 50% 50%;
    background-size: auto 100%;


    @media (min-height: 800px) {
        margin-top: -4.8%;
        max-height: 42.2vh;
    }

    @media (max-width: 1100px) {
        max-width: 62%;
    }

    @media (max-width: 480px) {
        max-width: 100%;
        max-height: 10000px;
        background: none;
        margin: 0 auto;
        padding: 0;
    }

    @media (max-width: 768px) {
        max-width: 78%;
        max-height: 65vh;
        padding: 45px 50px 20px 85px;
    }

    p {
        color: #411236;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.25;
        letter-spacing: -0.01ex;

        @media (max-width: 480px) {
            color: #fff;
            font-size: 2.4rem;
            line-height: 1.6;
        }

        @media (max-width: 768px) {
            font-size: 1.4rem;
        }
    }

    &__content {
        padding: 30px 30px 0;
        margin-bottom: 30px;

        @media (min-height: 900px) {
            padding: 74px 40px 0 32px;
        }

        @media (max-width: 480px) {
            padding: 0;
        }

        @media (max-width: 768px) {
            padding: 20px 30px 0;
            margin-bottom: 10px;
        }
    }

    &__button {
        text-align: center;


        @media (max-width: 768px) {
            .button {
                height: 30px;
                padding: 0 20px;
                line-height: 30px;
                border-radius: 2px;
            }
        }
    }

    &:before, &:after {
        position: absolute;
        left: 50%;
        top: 50%;
        content: "";
        pointer-events: none;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto 100%;
        transform: translate3d(-50%, -50%, 0) translateY(5%);

        @media (max-width: 480px) {
            display: none;
        }
    }

    &:before {
        width: 111.9601328904%;
        height: 134.1176470588%;
        z-index: -1;
        margin-left: 1.2%;
        background-image: url(../images/paper-backface-1.png);
    }

    &:after {
        width: 133.7209302326%;
        height: 174.3529411765%;
        z-index: -2;
        background-image: url(../images/paper-backface-2.png);
    }
}
