.paper {
    width: 100%;
    max-width: 45%;
    max-height: 46.5vh;
    margin: -3.7% auto 0;

    position: relative;

    padding: 63px 49px 20px 84px;
    background: url(../images/paper-upper.png) no-repeat 50% 50%;
    background-size: auto 100%;

    @media (min-height: 700px) {
        margin-top: 0;
        max-height: 52vh;
        max-width: 65%;
    }

    @media (max-width: 480px) {
        max-width: 100%;
        max-height: 10000px;
        background: none;
        margin: 0 auto;
        padding: 0;
    }

    p {
        color: #411236;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.25;

        @media (max-width: 480px) {
            color: #fff;
            font-size: 2.4rem;
            line-height: 1.6;
        }
    }

    &__content {
        padding: 30px 30px 0;
        margin-bottom: 30px;

        @media (min-height: 900px) {
            padding: 70px 30px 0;
        }

        @media (max-width: 480px) {
            padding: 0;
        }
    }

    &__button {
        text-align: center;
    }

    &:before, &:after {
        position: absolute;
        left: 50%;
        top: 50%;
        content: "";
        pointer-events: none;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: auto 100%;
        transform: translate3d(-50%, -50%, 0) translateY(5%);

        @media (max-width: 480px) {
            display: none;
        }
    }

    &:before {
        width: 111.9601328904%;
        height: 134.1176470588%;
        z-index: -1;
        margin-left: 1.2%;
        background-image: url(../images/paper-backface-1.png);
    }

    &:after {
        // width: 805px;
        // height: 741px;
        width: 133.7209302326%;
        height: 174.3529411765%;
        z-index: -2;
        background-image: url(../images/paper-backface-2.png);
    }
}
