.parallax-picture {
    // display: none;
    opacity: 0;
    position: absolute;
	overflow: hidden;
    user-select: none;
    touch-action: pan-y;
    pointer-events: none;
    transform: translateZ(0);
    transition: opacity .3s ease-in-out;
    backface-visibility: hidden;

    &.is-loaded {
        opacity: 1;
    }

    @media (max-width: 480px) {
        display: none;
    }

    &__src {
        width: auto;
        height: 100%;
        display: inline-block;
        user-select: none;
        pointer-events: none;
    }

    // INDEX PAGE
    &__purple-contacts {
        height: 10.6vh;
        top: 18.1%;
        z-index: 112;

        &--index {
            left: 25.9615384615vw;

            @media (max-width: 768px) {
                left: 35.961538vw;
            }
        }

        &--about {
            left: 125.9615384615vw;

            @media (max-width: 768px) {
                left: 115.961538vw;
            }
        }

        &--contacts {
            left: 325.9615384615vw;

            @media (max-width: 768px) {
                left: 315.9615384615vw;
            }
        }
    }

    &__orange-contacts {
        height: 11vh;
        top: 19.7%;
        z-index: 111;

        &--index {
            left: 27.5641025641vw;

            @media (max-width: 768px) {
                left: 37.5641025641vw;
            }
        }

        &--about {
            left: 127.5641025641vw;

            @media (max-width: 768px) {
                left: 117.5641025641vw;
            }
        }

        &--contacts {
            left: 327.5641025641vw;

            @media (max-width: 768px) {
                left: 317.5641025641vw;
            }
        }
    }

    &__playing-card {
        height: 43.1vh;
        left: 23.5vw;
        top: 16.5%;
        z-index: 10;

        @media (max-width: 768px) {
            left: 33.5vw;
        }

        @media (max-width: 1024px) {
            left: 25vw;
        }

        @media (max-height: 800px) {
            height: 39vh;
        }
    }

    &__dice {
        height: 32.1vh;
        left: 24.3vw;
        bottom: 7.9%;
        z-index: 101;

        @media (max-width: 768px) {
            left: 74.3vw;
        }

        @media (max-width: 1024px) {
            left: 30.3vw;
        }

        @media (max-height: 800px) {
            height: 28vh;
        }

        @media (max-height: 600px) {
            left: 33vw;
        }
    }

    &__dice-far-away {
        height: 4.3vh;
        left: 43.9vw;
        top: 54.2%;
        z-index: 12;
    }

    &__dice-near {
        height: 7.8vh;
        left: 48.7vw;
        top: 50%;
        z-index: 11;

        @media (max-width: 768px) {
            left: 58.7vw;
        }
    }

    &__orange-item {
        height: 14.7vh;
        left: 49.2vw;
        top: 48.6%;
        z-index: 15;

        @media (max-width: 768px) {
            left: 44.2vw;
        }

        @media (max-height: 800px) {
            height: 13vh;
        }
    }

    &__purple-chip {
        height: 13.9vh;
        left: 60.9vw;
        bottom: 13.2%;
        z-index: 11;

        @media (max-width: 768px) {
            left: 30.9vw;
        }

        @media (max-height: 800px) {
            height: 12.5vh;
        }
    }

    &__yellow-chip {
        height: 5.8vh;
        left: 57.2vw;
        bottom: 21.3%;
        z-index: 10;

        @media (max-width: 768px) {
            left: 47.2vw;
        }
    }

    &__dot-1 {
        height: 3vh;
        left: 10.7vw;
        top: 48.8%;
        z-index: 11;
    }

    &__dot-2 {
        height: 1.5vh;
        left: 14.7vw;
        top: 60%;
        z-index: 11;
    }

    &__dot-3 {
        height: 1.5vh;
        left: 22.1vw;
        top: 22.9%;
        z-index: 11;
    }

    &__dot-4 {
        height: .9vh;
        left: 18.7vw;
        top: 21.9%;
        z-index: 11;
    }

    &__yellow-large-spot {
        height: 6.8vh;
        left: 32.1vw;
        top: 43.3%;
        z-index: 11;
    }

    &__yellow-rotate-chip {
        height: 5.1vh;
        left: 56.4vw;
        top: 38.8%;
        z-index: 11;
    }

    &__small-pawn {
        height: 4.3vh;
        left: 64.1vw;
        top: 60.6%;
        z-index: 11;
    }

    &__blue-pawn {
        height: 9.6vh;
        left: 49.4vw;
        bottom: 21.8%;
        z-index: 11;

        @media (max-width: 768px) {
            left: 59.4vw;
        }
    }

    &__pawn {
        height: 17.8vh;
        left: 46.3vw;
        top: 21.9%;
        z-index: 11;

        @media (max-width: 768px) {
            left: 36.3vw;
        }
    }

    &__rotate-pawn {
        height: 5.7vh;
        left: 70.6vw;
        top: 63.7%;
        z-index: 11;

        @media (max-width: 768px) {
            left: 80.6vw;
        }
    }

    &__purple-item {
        height: 10.5vh;
        left: 22.1vw;
        top: 49.9%;
        z-index: 11;

        @media (max-width: 768px) {
            left: 32.1vw;
        }
    }

    &__game-map {
        height: 67.5vh;
        left: 27.3vw;
        top: 19.2%;
        z-index: 1;

        @media (max-width: 768px) {
            left: 17.3vw;
        }

        @media (max-width: 1024px) {
            left: 17.3vw;
        }

        @media (max-height: 600px) {
            height: 62vh;
            top: 22%;
        }
    }

    &__batterfly {
        height: 13.3vh;
        top: 49.9%;
        bottom: 0;
        z-index: 100;

        &--index {
            left: 80.5vw;

            @media (max-width: 768px) {
                left: 100.5vw;
            }
        }

        &--about {
            left: 180.4vw;

            @media (max-width: 768px) {
                left: 200.4vw;
            }
        }

        &--partners {
            left: 280.5vw;

            @media (max-width: 768px) {
                left: 300.5vw;
            }
        }

        &--contacts {
            left: 390.5vw;

            @media (max-width: 768px) {
                left: 410.5vw;
            }
        }
    }

    // ABOUT PAGE
    &__pushpin-small {
        height: 8.5vh;
        left: 150.8vw;
        top: 37.1%;
        z-index: 120;

        @media (max-width: 768px) {
            /* left: ; */
        }
    }

    &__pushpin-large {
        height: 14.9vh;
        left: 140.5vw;
        top: 22.6%;
        z-index: 121;

        @media (max-width: 768px) {
            /* left: ; */
        }
    }

    &__loop {
        height: 38.7vh;
        left: 141.5vw;
        bottom: 11.1vh;
        z-index: 1000;

        @media (max-width: 768px) {
            left: 171.5vw;
        }
    }

    &__map-compos {
        height: 43.8vh;
        left: 129.1vw;
        top: 25.3%;
        z-index: 2;

        @media (max-width: 768px) {
            left: 149.1vw;
        }
    }

    &__world-map {
        height: 61.2vh;
        left: 136.1vw;
        top: 17%;
        z-index: 1;

        @media (max-width: 768px) {
            left: 166.1vw;
        }

        @media (max-height: 800px) {
            height: 58vh;
        }
    }

    // PARTNERS PAGE
    &__hat {
        height: 54.2vh;
        left: 202vw;
        bottom: 0%;
        z-index: 120000;
    
        @media (max-width: 1024px) {
            height: 40vh;
            left: 190vw;
        }

        @media (max-height: 768px) {
            height: 40vh;
        }

        @media (max-width: 768px) {
            height: 30vh;
            left: 192vw;
        }
    }

    &__pencil {
        height: 31.7vh;
        left: 190vw;
        top: 10.7%;
        z-index: 1000000;

        @media (max-height: 600px) {
            left: 230vw;
        }
    }

    // CONTACTS PAGE
    &__pen {
        height: 29.8vh;
        left: 392.428205vw;
        top: 11.6%;
        z-index: 1201;

        @media (max-width: 768px) {
            left: 362.428205vw;
        }

        @media (max-height: 600px) {
            left: 380vw;
        }
    }

    &__hand-phone {
        height: 55.4vh;
        left: 376vw;
        bottom: 2.8%;
        z-index: 100;

        @media (max-width: 768px) {
            left: 428vw;
        }

        @media (max-width: 1024px) {
            left: 356vw;
        }

        @media (max-height: 600px) {
            left: 358vw;
        }
    }

    &__coffe {
        height: 31vh;
        left: 402.833333vw;
        top: 45.1%;
        z-index: 99;

        @media (max-width: 768px) {
            left: 442.833333vw;
        }

        @media (max-width: 1024px) {
            left: 382.833333vw;
        }

        @media (max-height: 600px) {
            left: 394vw;
        }
    }

    &__tablet {
        height: 64.7vh;
        left: 327.6vw;
        top: 15.5%;
        z-index: 4;

        @media (max-width: 1024px) {
            left: 322.6vw;
        }

        @media (max-height: 600px) {
            top: 20.5%;
            left: 333vw;
        }
    }

    &__keyboard {
        height: 26.5vh;
        left: 300vw;
        bottom: 0.13%;
        z-index: 1;
    }

    &__evenlope {
        height: 45.1vh;
        left: 363.4vw;
        top: 54%;
        z-index: 0;

        @media (max-width: 768px) {
            left: 414.4vw;
        }

        @media (max-width: 1024px) {
            left: 333.4vw;
        }

        @media (max-height: 600px) {
            left: 343.4vw;
        }
    }
}
