.text {
    p {
        font-size: 1.4rem;
        // color: #ddd6bf;
        color: #fff;
        font-family: $font-raleway;
        line-height: 1.44;
        letter-spacing: 0.0ex;

        &:not(:last-child) {
            margin-bottom: 19px;

            @media (max-width: 480px) {
                margin-bottom: 25px;
            }
        }

        strong {
            color: #fff;
            font-size: 1.8rem;
            font-weight: 700;
        }

        @media (max-width: 480px) {
            font-size: 2.4rem;
            line-height: 1.6;
        }
    }

    &--about {
        z-index: 10000;
        left: 122.8vw;
        top: 38.6%;
        max-width: 33vw;

        @media (max-height: 800px) {
            max-width: 50vw;
        }

        @media (max-height: 700px) {
            max-width: 70vw;
        }

        @media (max-width: 480px) {
            max-width: 100vw;
        }
    }
}
