.title {
    color: #fff;
    font-size: 5.6rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 33px;
    letter-spacing: 0.015ex;
    position: relative;
    z-index: 20;
    text-shadow: 0 0 1px #000;
    font-family: $font-raleway;
    text-transform: uppercase;

    &--large {
        line-height: 1.03;

        @media (min-height: 800px) {
            font-size: 7.1rem;
        }
    }

    &--index {
        // left: 5.11vw;
        // top: 31.1%;

        @media (min-height: 800px) {
            margin-top: 14.1vh;
            letter-spacing: 0.017ex;
        }

        @media (max-width: 480px) {
            margin-top: 50px;
        }
    }

    &--about {
        // left: 141.51vw;
        // top: 17.1%;
        margin-bottom: 2rem;

        @media (min-height: 800px) {
            margin-top: 3.4rem;
            margin-bottom: 3.5rem;
        }
    }

    &--partners {
        @media (min-height: 800px) {
            margin-top: 9.3vh;
        }

        @media (max-width: 480px) {
            margin-top: 0;
        }
    }

    &--contacts {
        @media (min-height: 800px) {
            margin-top: 0.3vh;
            margin-bottom: 3.6vh;
        }
    }

    @media (max-width: 480px) {
        font-size: 5.5rem;
        line-height: 1.4;
        margin-bottom: 20px;
    }
}
