.content {
    @extend %layout;
    position: relative;
    z-index: 1000;
    
    p {
        color: #ddd6bf;
        font-family: $font-raleway;
        line-height: 2rem;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        strong {
            color: #fff;
            font-size: 1.4rem;
            font-weight: 700;
        }
    }

    &__inner {
        width: 100%;
        max-width: 540px;
    }
}