.content {
    width: 100%;
    padding-top: 30px;
    max-width: $layout-width;
    padding-left: $layout-margin;
    padding-right: $layout-margin;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 4000;
    border: 1px solid yellow;
    
    p {
        font-size: 1.4rem;
        color: #ddd6bf;
        font-family: $font-raleway;
        line-height: 1.43;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        strong {
            color: #fff;
            font-weight: 700;
        }
    }

    &__inner {
        width: 100%;
        max-width: 540px;
    }
}