.layout-footer {
    height: 7%;
    position: relative;
    text-align: center;
    transform: translate3d(0,-100%,0);
    
    &__wrapper {
        @extend %layout;
    }

    &__copiright {
        color: #272727;
        font-family: Roboto;
        font-weight: 500;
        font-size: 2.4rem;
        font-size: 1.6rem;
    }
}
