.layout-footer {
    height: 6.3vh;
    position: fixed auto 0 0 0;
    text-align: center;
    z-index: 4000;
    pointer-events: none;

    &__wrapper {
        @extend %layout;
    }

    &__copiright {
        color: #272727;
        font-family: Roboto;
        font-weight: 500;
        font-size: 1.6rem;
        letter-spacing: 0.01ex;
    }
}
