.layout-header {
    width: 100vw;
    height: 14vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5000;

    &__wrapper {
        @extend %layout;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 480px) {
            display: block;
        }
    }

    &__logo {
        width: auto;
        height: 9.9vh;
        margin-top: 22px;
        margin-right: 12%;

        @media (max-width: 480px) {
            min-width: 0;
            margin: 0;
        }
    }

    &__lang {
        margin-left: 10px;
        margin-bottom: -3px;
    }
}
