.layout-header {
    width: 100%;
    height: 14vh;
    position: absolute 0 0 auto;
    z-index: 5000;
    border: 1px solid cyan;

    &__wrapper {
        @extend %layout;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 480px) {
            display: block;
        }
    }

    &__logo {
        width: auto;
        height: 62.5%;
        // margin-top: 20px;
        margin-right: 11.7%;

        @media (max-width: 480px) {
            min-width: 0;
            margin: 0;
        }
    }

    &__lang {
        margin-left: 10px;
        margin-bottom: -3px;
    }
}
