.layout-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    @media (max-width: 480px) {
        height: auto;
        min-height: 100%;
    }

    &__lamp {
        position: fixed;
        right: 8.241555%;
        top: -1.5vh;
        width: 950px;
        height: 58.7vh;
        z-index: 4900;
        pointer-events: none;
        background: url(./images/lamp.png) no-repeat 100% 0;
        background-size: auto 100%;

        @media (max-width: 480px) {
            width: 220px;
            height: 170px;
            right: -20px;
            top: -20px;
        }
    }

    &__lamp-lighter {
        position: fixed;
        right: 5.3333333333%;
        top: 0;
        width: 904px;
        height: 89.9vh;
        z-index: 4800;
        pointer-events: none;
        background: url(./images/lamp-lighter.png) no-repeat 100% 100%;
        background-size: auto 100%;

        @media (max-width: 480px) {
            width: 300px;
            height: 300px;
            right: -10px;
            top: -10px;
        }
    }

    &__section {
        width: 100vw;
        height: 100%;
        float: left;
        padding-top: 14vh;
        position: relative;

        @media (max-width: 960px) {
            float: none;
            padding-top: 7vh;
        }

        @media (max-width: 480px) {
            float: none;
            padding-top: 7vh;
        }
    }

    &__pusher {
        height: 100%;

        &.wrapper-scroll {
            width: 400vw;

            @media (max-width: 960px) {
                width: 100%;
            }

            @media (max-width: 480px) {
                width: 100%;
            }
        }
    }
}
