.layout-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    @media (max-width: 480px) {
        height: auto;
        min-height: 100%;
    }

    &__lamp {
        position: absolute;
        right: 0;
        top: 0;
        height: 58.7%;
        z-index: 100;
        background: url(/images/lamp.png) no-repeat 0 0;
        background-size: cover;
        border: 1px solid lime;

        &:before {
            content: "";
            display: block;
            // padding-bottom: 61.7894736842%;
            padding-left: 161.8398637138%;
        }
    }
    
    &__lamp-lighter {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 89.9%;
        z-index: 1;
        background: url(/images/lamp-lighter.png) no-repeat;
        background-size: cover;

        &:before {
            content: "";
            display: block;
            // padding-bottom: 99.4469026549%;
            padding-left: 99.4469026549%;
        }
    }

    &__pusher {
        height: 100%;
        border: 1px solid lime;
        position: relative;
        padding-bottom: $footer-height + $footer-margin;
    }
}
