$modal-close-color:         #f00;
$modal-close-button:        18px;

.modal {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;
    display: none;
    opacity: 0;
    transition: opacity $a-time ease;
    background-color: rgba(0, 0, 0, .5);

    &__dialog {
        display: table-cell;
        vertical-align: middle;
    }

    &__content {
        width: 100%;
        margin: 0px auto;
        border-radius: 2px;
        position: relative;
        background-color: $c-white;
        transition: all $a-time ease;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);

        &.size-small {
            max-width: 300px;
        }

        &.size-medium {
            max-width: 640px;
        }

        &.size-large {
            max-width:960px;
        }
    }

    &__close-button {
        width: $modal-close-button;
        height: $modal-close-button;
        color: $modal-close-color;
        line-height: $modal-close-button;
        padding: 0;
        text-align: center;
        background: none;
        @extend %button;
        position: absolute;
        right: 10px;
        top: 10px;

        svg {
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__header {
        clear: both;
        border: 1px solid red;
    }

    &__body {
        padding: 20px 30px;
    }

    &__footer {
        clear: both;
        border: 1px solid red;
    }
}
