@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">
        
    <div class="layout-wrapper__lamp">

    </div>

    <div class="layout-wrapper__lamp-lighter"></div>

    @@include('./components/_header.html', {
        "current": "contact-us"
    })

    <div class="layout-wrapper__pusher">
        <div class="content clearfix">
            <div class="title">СВЯЗАТЬСЯ</div>
            
            <div class="contacts">
                ООО "СМТК"<br>
                Адрес: 350051, г. Краснодар, ул. Лузана, 36.<br>
                Тел. <a href="tel:8-952-851-58-53" class="contacts__phone">+7 (952) 851-58-53</a><br>
                E-mail: <a href="mailto:ak@wwgamescorp.ru" class="contacts__email">ak@wwgamescorp.ru</a>
            </div>

            <form action="/json/feedback.json" method="POST" class="feedback">
                <div class="feedback__group">
                    <label class="feedback__label j-label">
                        <span class="feedback__placeholder j-label-placeholder">Ф.И.О.</span>
                        <input name="name" class="feedback__input j-label-field" value="Иванов Иван Иванович">
                    </label>

                    <label class="feedback__label j-label">
                        <span class="feedback__placeholder j-label-placeholder">Тел. <span class="feedback__placeholder__star">*</span></span>
                        <input name="phone" class="feedback__input j-label-field mask-phone">
                    </label>

                    <label class="feedback__label j-label">
                        <span class="feedback__placeholder j-label-placeholder">E-mail</span>
                        <input name="email" class="feedback__input j-label-field">
                    </label>
                    
                    <label class="feedback__label j-label">
                        <span class="feedback__placeholder j-label-placeholder feedback__placeholder--flex-start">Текст</span>
                        <textarea name="text" class="feedback__textarea j-label-field"></textarea>
                    </label>
                </div>
                
                <button class="feedback__button" type="submit">ОТПРАВИТЬ</button>
            </form>

        </div>

        <div class="parallax-picture parallax-picture__purple-contacts">
            <img src="/images/purple-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__orange-contacts">
            <img src="/images/orange-contacts.png" class="parallax-picture__src" alt="">
        </div>
        
        <div class="parallax-picture parallax-picture__pen">
            <img src="/images/pen.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__hand-phone">
            <img src="/images/hand-phone.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__batterfly">
            <img src="/images/batterfly.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__coffe">
            <img src="/images/coffe.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__tablet">
            <img src="/images/tablet.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__keyboard">
            <img src="/images/keyboard.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__evenlope">
            <img src="/images/evenlope.png" class="parallax-picture__src" alt="">
        </div>
    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')