@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

@@include('./components/_header.html', {
    "current": "index",
    "lang": "en"
})

<div class="layout-wrapper__lamp"></div>
<div class="layout-wrapper__lamp-lighter"></div>

<div class="layout-wrapper" id="wrapper">

    <div class="layout-wrapper__pusher scroller" id="scroller">

        <!-- INDEX PAGE -->
        <div class="parallax-picture parallax-picture__dice parallax" data-rellax-speed="14">
            <img src="./images/dice.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__playing-card parallax" data-rellax-speed="6">
            <img src="./images/playing-card-with-shadow.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__purple-contacts parallax-picture__purple-contacts--index parallax" data-rellax-speed="7">
            <img src="./images/purple-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__orange-contacts parallax-picture__orange-contacts--index parallax" data-rellax-speed="7">
            <img src="./images/orange-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__orange-item parallax" data-rellax-speed="-4">
            <img src="./images/orange-item.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__purple-chip parallax" data-rellax-speed="-6">
            <img src="./images/purple-chip.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__yellow-chip parallax" data-rellax-speed="-4">
            <img src="./images/yellow-chip.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__blue-pawn parallax" data-rellax-speed="0.9">
            <img src="./images/blue-pawn.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__dice-far-away parallax" data-rellax-speed="-0.5">
            <img src="./images/dice-far-away.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__dice-near parallax" data-rellax-speed=".8">
            <img src="./images/dice-near.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__pawn parallax" data-rellax-speed="-4">
            <img src="./images/pawn.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__dot-1 parallax" data-rellax-speed="1.3">
            <img src="./images/dot-1.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__dot-2 parallax" data-rellax-speed="1.3">
            <img src="./images/dot-2.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__dot-3 parallax" data-rellax-speed="1.3">
            <img src="./images/dot-2.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__dot-4 parallax" data-rellax-speed="-1.3">
            <img src="./images/dot-4.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__yellow-large-spot parallax" data-rellax-speed="1.3">
            <img src="./images/yellow-large-spot.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__small-pawn parallax" data-rellax-speed="1.3">
            <img src="./images/small-pawn.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__yellow-rotate-chip parallax" data-rellax-speed="-3">
            <img src="./images/yellow-rotate-chip.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__rotate-pawn parallax" data-rellax-speed="1.3">
            <img src="./images/rotate-pawn.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__purple-item parallax" data-rellax-speed="1.2">
            <img src="./images/purple-item.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__batterfly parallax-picture__batterfly--index parallax" data-rellax-speed="3">
            <img src="./images/batterfly.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__game-map parallax" data-rellax-speed="-3">
            <img src="./images/game-map.png" class="parallax-picture__src" alt="">
        </div>
        <!-- // INDEX PAGE -->

        <!-- ABOUT PAGE -->
        <div class="parallax-picture parallax-picture__purple-contacts parallax-picture__purple-contacts--about parallax" data-rellax-speed="-3">
            <img src="./images/purple-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__orange-contacts parallax-picture__orange-contacts--about parallax" data-rellax-speed="-4">
            <img src="./images/orange-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__batterfly parallax-picture__batterfly--about parallax" data-rellax-speed="-0.3">
            <img src="./images/batterfly.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__pushpin-large parallax" data-rellax-speed="3">
            <img src="./images/pushpin-large.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__pushpin-small parallax" data-rellax-speed="-0.5">
            <img src="./images/pushpin-small.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__loop parallax" data-rellax-speed="2">
            <img src="./images/loop.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__map-compos parallax" data-rellax-speed="1.5">
            <img src="./images/map-compos.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__world-map parallax" data-rellax-speed="2.5">
            <img src="./images/world-map.png" class="parallax-picture__src" alt="">
        </div>
        <!-- // ABOUT PAGE -->

        <!-- PARTNERS PAGE -->
        <div class="parallax-picture parallax-picture__hat parallax" data-rellax-speed="-0.5">
            <img src="./images/hat.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__pencil parallax" data-rellax-speed="-4.6">
            <img src="./images/pencil.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__batterfly parallax-picture__batterfly--partners parallax" data-rellax-speed="3">
            <img src="./images/batterfly.png" class="parallax-picture__src" alt="">
        </div>
        <!-- // PARTNERS PAGE -->

        <!-- CONTACTS PAGE -->
        <div class="parallax-picture parallax-picture__purple-contacts parallax-picture__purple-contacts--contacts parallax" data-rellax-speed="-1">
            <img src="./images/purple-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__orange-contacts parallax-picture__orange-contacts--contacts parallax" data-rellax-speed="-1.3">
            <img src="./images/orange-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__pen parallax" data-rellax-speed="2.3">
            <img src="./images/pen.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__hand-phone parallax" data-rellax-speed="2">
            <img src="./images/hand-phone.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__coffe parallax" data-rellax-speed="1.5">
            <img src="./images/coffe.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__evenlope parallax" data-rellax-speed="2">
            <img src="./images/evenlope.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__batterfly parallax-picture__batterfly--contacts parallax" data-rellax-speed="0.5">
            <img src="./images/batterfly.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__tablet parallax" data-rellax-speed="-0.3">
            <img src="./images/tablet.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__keyboard parallax" data-rellax-speed="-0.1">
            <img src="./images/keyboard.png" class="parallax-picture__src" alt="">
        </div>
        <!-- // CONTACTS PAGE -->

        <div class="layout-wrapper__section" id="index">
            <div class="content clearfix">
                <div class="title title--large title--index parallax1" data-rellax-speed="-0.49">Best games<br>from all over the world!</div>
            </div>
        </div>

        <div class="layout-wrapper__section" id="about">
            <div class="content clearfix">
                <div class="title title--large title--about parallax1" data-rellax-speed="-0.05">About us</div>

                <div class="content__inner parallax1" data-rellax-speed="-0.05">
                    <p><strong>&laquo;Worldwide games&raquo;</strong>&nbsp;&mdash; Worldwide games is&nbsp;a&nbsp;Russian company established in&nbsp;2017. The company&rsquo;s aim is&nbsp;to&nbsp;popularize the culture of&nbsp;board games in&nbsp;Russia, publishing them and ensuring their maximum accessibility.</p>
                    <p>We&nbsp;aim to&nbsp;bring the most exiting products from all over the world, as&nbsp;well as&nbsp;our own developments to&nbsp;the market. Our vast experience, accumulated knowledge and professional approach form a&nbsp;solid foundation for the development of&nbsp;the company. We&nbsp;are endlessly committed to&nbsp;our work, and achieved results inspire&nbsp;us to&nbsp;reach new endeavors.</p>
                    <p><strong>Mission</strong> <br>Popularize the culture of&nbsp;board games and ensure their availability for everyone.</p>
                    <p><strong>Purpose</strong> <br>&laquo;20-20&raquo;: publish at&nbsp;least 20&nbsp;board games in&nbsp;Russia by&nbsp;the end of&nbsp;2020.</p>
                </div>
            </div>
        </div>

        <div class="layout-wrapper__section" id="partners">
            <div class="steps parallax" data-rellax-speed="-1.2">
                <div class="steps__item steps__item--first">
                    <img src="./images/icon-box.png" class="steps__item__icon" alt="">
                </div>

                <div class="steps__item steps__item--second">
                    <img src="./images/icon-management.png" class="steps__item__icon" alt="">
                </div>

                <div class="steps__item steps__item--third">
                    <img src="./images/icon-map.png" class="steps__item__icon" alt="">
                </div>
            </div>

            <div class="content clearfix">
                <div class="title title--large title--partners parallax1" data-rellax-speed="-0.8">Cooperation</div>

                <div class="paper">
                    <div class="paper__content">
                        <p>We&nbsp;are open for a&nbsp;teamwork with all interested parties. We&nbsp;invite Russian and foreign partners to&nbsp;the mutually beneficial cooperation: board games developers and publishers, specialty stores and clubs.</p>
                        <p>If&nbsp;you want to&nbsp;become our partner, fill out the feedback form, make your suggestions and include your contacts for communication. We&nbsp;will certainly consider each inquiry and respond to&nbsp;all of&nbsp;them.</p>
                    </div>

                    <div class="paper__button">
                        <a href="#contact-us" class="button j-scrollto">Write a letter</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout-wrapper__section" id="contact-us">
            <div class="content clearfix">
                <div class="title title--large title--contacts parallax1" data-rellax-speed="-0.3">CONTACT</div>

                <div class="contacts parallax1" data-rellax-speed="-0.8">
                    LLC “SMTK”<br>
                    Address: 350051, Russia, Krasnodar, 36, Luzana str.<br>
                    Tel.: <a href="tel:8-952-851-58-53" class="contacts__phone">+7 (952) 851-58-53</a><br>
                    E-mail: <a href="mailto:ak@wwgamescorp.ru" class="contacts__email">ak@wwgamescorp.ru</a>
                </div>

                <form action="/json/feedback.json" method="POST" class="feedback parallax1" data-rellax-speed="0.005">
                    <div class="feedback__group">
                        <label class="feedback__label j-label">
                            <span class="feedback__placeholder j-label-placeholder">Name*</span>
                            <input name="name" class="feedback__input j-label-field" value="Ivanov Ivan Ivanovich">
                        </label>

                        <label class="feedback__label j-label">
                            <span class="feedback__placeholder j-label-placeholder">Tel. <span class="feedback__placeholder__star">*</span></span>
                            <input name="phone" class="feedback__input j-label-field mask-phone">
                        </label>

                        <label class="feedback__label j-label">
                            <span class="feedback__placeholder j-label-placeholder">E-mail <span class="feedback__placeholder__star">*</span></span>
                            <input name="email" class="feedback__input j-label-field">
                        </label>

                        <label class="feedback__label j-label">
                            <span class="feedback__placeholder j-label-placeholder feedback__placeholder--flex-start">Massage</span>
                            <textarea name="text" class="feedback__textarea j-label-field"></textarea>
                        </label>
                    </div>

                    <button class="feedback__button" type="submit">Send</button>
                </form>
            </div>

        </div>

    </div>

</div>

@@include('./components/_footer.html', {
    "copyright": "All rights reserved"
})
@@include('./components/_scripts.html')
