@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

@@include('./components/_header.html', {
    "current": "index",
    "lang": "ru"
})

<div class="layout-wrapper__lamp"></div>
<div class="layout-wrapper__lamp-lighter"></div>

<div class="layout-wrapper" id="wrapper">

    <div class="layout-wrapper__pusher scroller" id="scroller">

        <!-- INDEX PAGE -->
        <div class="parallax-picture parallax-picture__dice parallax" data-rellax-speed="14">
            <img src="./images/dice.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__playing-card parallax" data-rellax-speed="6">
            <img src="./images/playing-card-with-shadow.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__purple-contacts parallax-picture__purple-contacts--index parallax" data-rellax-speed="7">
            <img src="./images/purple-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__orange-contacts parallax-picture__orange-contacts--index parallax" data-rellax-speed="7">
            <img src="./images/orange-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__orange-item parallax" data-rellax-speed="-4">
            <img src="./images/orange-item.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__purple-chip parallax" data-rellax-speed="-6">
            <img src="./images/purple-chip.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__yellow-chip parallax" data-rellax-speed="-4">
            <img src="./images/yellow-chip.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__blue-pawn parallax" data-rellax-speed="0.9">
            <img src="./images/blue-pawn.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__dice-far-away parallax" data-rellax-speed="-0.5">
            <img src="./images/dice-far-away.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__dice-near parallax" data-rellax-speed=".8">
            <img src="./images/dice-near.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__pawn parallax" data-rellax-speed="-4">
            <img src="./images/pawn.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__dot-1 parallax" data-rellax-speed="1.3">
            <img src="./images/dot-1.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__dot-2 parallax" data-rellax-speed="1.3">
            <img src="./images/dot-2.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__dot-3 parallax" data-rellax-speed="1.3">
            <img src="./images/dot-2.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__dot-4 parallax" data-rellax-speed="-1.3">
            <img src="./images/dot-4.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__yellow-large-spot parallax" data-rellax-speed="1.3">
            <img src="./images/yellow-large-spot.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__small-pawn parallax" data-rellax-speed="1.3">
            <img src="./images/small-pawn.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__yellow-rotate-chip parallax" data-rellax-speed="-3">
            <img src="./images/yellow-rotate-chip.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__rotate-pawn parallax" data-rellax-speed="1.3">
            <img src="./images/rotate-pawn.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__purple-item parallax" data-rellax-speed="1.2">
            <img src="./images/purple-item.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__batterfly parallax-picture__batterfly--index parallax" data-rellax-speed="3">
            <img src="./images/batterfly.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__game-map parallax" data-rellax-speed="-3">
            <img src="./images/game-map.png" class="parallax-picture__src" alt="">
        </div>
        <!-- // INDEX PAGE -->

        <!-- ABOUT PAGE -->
        <div class="parallax-picture parallax-picture__purple-contacts parallax-picture__purple-contacts--about parallax" data-rellax-speed="-3">
            <img src="./images/purple-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__orange-contacts parallax-picture__orange-contacts--about parallax" data-rellax-speed="-4">
            <img src="./images/orange-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__batterfly parallax-picture__batterfly--about parallax" data-rellax-speed="-0.3">
            <img src="./images/batterfly.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__pushpin-large parallax" data-rellax-speed="3">
            <img src="./images/pushpin-large.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__pushpin-small parallax" data-rellax-speed="-0.5">
            <img src="./images/pushpin-small.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__loop parallax" data-rellax-speed="2">
            <img src="./images/loop.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__map-compos parallax" data-rellax-speed="1.5">
            <img src="./images/map-compos.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__world-map parallax" data-rellax-speed="2.5">
            <img src="./images/world-map.png" class="parallax-picture__src" alt="">
        </div>
        <!-- // ABOUT PAGE -->

        <!-- PARTNERS PAGE -->
        <div class="parallax-picture parallax-picture__hat parallax" data-rellax-speed="-0.5">
            <img src="./images/hat.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__pencil parallax" data-rellax-speed="-4.6">
            <img src="./images/pencil.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__batterfly parallax-picture__batterfly--partners parallax" data-rellax-speed="3">
            <img src="./images/batterfly.png" class="parallax-picture__src" alt="">
        </div>
        <!-- // PARTNERS PAGE -->

        <!-- CONTACTS PAGE -->
        <div class="parallax-picture parallax-picture__purple-contacts parallax-picture__purple-contacts--contacts parallax" data-rellax-speed="-1">
            <img src="./images/purple-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__orange-contacts parallax-picture__orange-contacts--contacts parallax" data-rellax-speed="-1.3">
            <img src="./images/orange-contacts.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__pen parallax" data-rellax-speed="2.3">
            <img src="./images/pen.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__hand-phone parallax" data-rellax-speed="2">
            <img src="./images/hand-phone.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__coffe parallax" data-rellax-speed="1.5">
            <img src="./images/coffe.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__evenlope parallax" data-rellax-speed="2">
            <img src="./images/evenlope.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__batterfly parallax-picture__batterfly--contacts parallax" data-rellax-speed="0.5">
            <img src="./images/batterfly.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__tablet parallax" data-rellax-speed="-0.3">
            <img src="./images/tablet.png" class="parallax-picture__src" alt="">
        </div>

        <div class="parallax-picture parallax-picture__keyboard parallax" data-rellax-speed="-0.1">
            <img src="./images/keyboard.png" class="parallax-picture__src" alt="">
        </div>
        <!-- // CONTACTS PAGE -->

        <div class="layout-wrapper__section" id="index">
            <div class="content clearfix">
                <div class="title title--large title--index parallax" data-rellax-speed="-3">ЛУЧШИЕ ИГРЫ<br>СО ВСЕГО МИРА!</div>
            </div>
        </div>

        <div class="layout-wrapper__section" id="about">
            <div class="content clearfix">
                <div class="title title--large title--about parallax" data-rellax-speed="-3">НЕМНОГО<br>О СЕБЕ</div>

                <div class="content__inner parallax" data-rellax-speed="-4">
                    <p><strong>&laquo;Worldwide games&raquo;</strong>&nbsp;&mdash; российская компания, созданная в&nbsp;2017&nbsp;г., с&nbsp;целью популяризации культуры настольных игр в&nbsp;России, их&nbsp;издания и&nbsp;обеспечения максимальной доступности. Является подразделением одной из&nbsp;крупнейших в&nbsp;России сетей специализированных магазинов настольных игр &laquo;Знаем играем&raquo;, созданной в&nbsp;2011&nbsp;году. На&nbsp;сегодняшний день сеть насчитывает более 50&nbsp;магазинов в&nbsp;34&nbsp;городах России и&nbsp;ближнего зарубежья. </p>
                    <p>В&nbsp;ассортимент магазинов входит продукция таких производителей, как Hasbro, Piatnik, Hobby Games, Ravensburger, Mattel, Tactic, Magellan, Kod-Kod, Fantasy Flight Games, Days of&nbsp;Wonder, Games Workshop, Philos, Steve Jackson Games, Hans im&nbsp;Gluck, Nexus, ThinkFun и&nbsp;др.</p>
                    <p>Мы&nbsp;стремимся выпускать на&nbsp;рынок самые интересные продукты издателей со&nbsp;всего мира, а&nbsp;также собственные разработки. Накопленный опыт, знания и&nbsp;профессиональный подход команды являются прочным фундаментом развития компании. Мы&nbsp;бесконечно привержены своему делу, а&nbsp;достигнутые результаты вдохновляют нас на&nbsp;новые победы.</p>
                    <p><strong>Миссия Компании</strong> <br>Популяризация культуры настольных игр и&nbsp;обеспечение доступности их&nbsp;многообразия для каждого.</p>
                    <p><strong>Цель</strong> <br>&laquo;20-20&raquo;&nbsp;&mdash; к&nbsp;концу 2020&nbsp;г. издать в&nbsp;России не&nbsp;менее 20&nbsp;настольных игр.</p>
                </div>
            </div>
        </div>

        <div class="layout-wrapper__section" id="partners">
            <div class="steps parallax" data-rellax-speed="-1.2">
                <div class="steps__item steps__item--first">
                    <img src="./images/icon-box.png" class="steps__item__icon" alt="">
                </div>

                <div class="steps__item steps__item--second">
                    <img src="./images/icon-management.png" class="steps__item__icon" alt="">
                </div>

                <div class="steps__item steps__item--third">
                    <img src="./images/icon-map.png" class="steps__item__icon" alt="">
                </div>
            </div>

            <div class="content clearfix">
                <div class="title title--large title--partners parallax" data-rellax-speed="-0.8">Сотрудничество</div>

                <div class="paper">
                    <div class="paper__content">
                        <p>Мы&nbsp;открыты для совместной работы<br>со&nbsp;всеми заинтересованными сторонами. Приглашаем к&nbsp;взаимовыгодному сотрудничеству российских и&nbsp;зарубежных партнёров: разработчиков настольных игр, издательства настольных игр, специализированные магазины и&nbsp;клубы.</p>
                        <p>Чтобы стать нашим партнером, заполните форму обратной связи, укажите ваши предложения и&nbsp;контакты для связи. Мы&nbsp;обязательно рассмотрим и&nbsp;ответим на&nbsp;каждое обращение.</p>
                    </div>

                    <div class="paper__button">
                        <a href="#contact-us" class="button j-scrollto">Написать письмо</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout-wrapper__section" id="contact-us">
            <div class="content clearfix">
                <div class="title title--large title--contacts parallax" data-rellax-speed="-0.3">СВЯЗАТЬСЯ</div>

                <div class="contacts parallax" data-rellax-speed="-0.8">
                    ООО "СМТК"<br>
                    Адрес: 350051, г. Краснодар, ул. Лузана, 36.<br>
                    Тел.: <a href="tel:8-952-851-58-53" class="contacts__phone">+7 (952) 851-58-53</a><br>
                    E-mail: <a href="mailto:ak@wwgamescorp.ru" class="contacts__email">ak@wwgamescorp.ru</a>
                </div>

                <form action="/json/feedback.json" method="POST" class="feedback parallax" data-rellax-speed="1">
                    <div class="feedback__group">
                        <label class="feedback__label j-label">
                            <span class="feedback__placeholder j-label-placeholder">Имя <span class="feedback__placeholder__star">*</span></span>
                            <input name="name" class="feedback__input j-label-field" value="Иванов Иван Иванович">
                        </label>

                        <label class="feedback__label j-label">
                            <span class="feedback__placeholder j-label-placeholder">Тел. <span class="feedback__placeholder__star">*</span></span>
                            <input name="phone" class="feedback__input j-label-field mask-phone">
                        </label>

                        <label class="feedback__label j-label">
                            <span class="feedback__placeholder j-label-placeholder">Эл. почта <span class="feedback__placeholder__star">*</span></span>
                            <input name="email" class="feedback__input j-label-field">
                        </label>

                        <label class="feedback__label j-label">
                            <span class="feedback__placeholder j-label-placeholder feedback__placeholder--flex-start">Текст</span>
                            <textarea name="text" class="feedback__textarea j-label-field"></textarea>
                        </label>
                    </div>

                    <button class="feedback__button" type="submit">ОТПРАВИТЬ</button>
                </form>
            </div>

        </div>

    </div>

</div>

@@include('./components/_footer.html', {
    "copyright": "Все права защищены"
})
@@include('./components/_scripts.html')
