@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">
        
    <div class="layout-wrapper__lamp"></div>
    <div class="layout-wrapper__lamp-lighter"></div>

    @@include('./components/_header.html', {
        "current": "partners"
    })

    <div class="layout-wrapper__pusher">

        <div class="parallax-picture parallax-picture__hat">
                <img src="/images/.png" class="parallax-picture__src" alt="">
            </div>
        <div class="parallax-picture parallax-picture__pencil">
                <img src="/images/.png" class="parallax-picture__src" alt="">
            </div>
        <div class="parallax-picture parallax-picture__batterfly">
                <img src="/images/.png" class="parallax-picture__src" alt="">
            </div>

        <div class="steps">
            <div class="steps__item steps__item--first">
                <img src="/images/icon-box.png" class="steps__item__icon" alt="">
            </div>

            <div class="steps__item steps__item--second">
                <img src="/images/icon-management.png" class="steps__item__icon" alt="">
            </div>

            <div class="steps__item steps__item--third">
                <img src="/images/icon-map.png" class="steps__item__icon" alt="">
            </div>
        </div>

        <div class="content clearfix">
            <div class="title">Сотрудничество</div>

            <div class="paper">

                <div class="paper__content">
                    <p>Мы открыты для совместной работы<br>
                    со всеми заинтересованными сторонами. Приглашаем к взаимовыгодному сотрудничеству российских и зарубежных партнёров:  разработчиков настольных игр, издательства настольных игр, специализированные магазины и клубы.</p>

                    <p>Чтобы стать нашим партнером, заполните форму обратной связи, укажите ваши предложения и контакты для связи. Мы обязательно рассмотрим и ответим на каждое обращение.</p>
                </div>

                <div class="paper__button">
                    <a href="#" class="button">Написать письмо</a>
                </div>
        
            </div>
            
        </div>
    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')