@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">
        
    <div class="layout-wrapper__lamp"></div>
    <div class="layout-wrapper__lamp-lighter"></div>

    @@include('./components/_header.html', {
        "current": "partners"
    })

    <div class="layout-wrapper__pusher">
        <div class="layout-wrapper__container clearfix">

            <div class="content clearfix">
                <div class="title">Сотрудничество</div>

                <p>Мы открыты для совместной работы<br>
                со всеми заинтересованными сторонами. Приглашаем к взаимовыгодному сотрудничеству российских и зарубежных партнёров:  разработчиков настольных игр, издательства настольных игр, специализированные магазины и клубы.</p>
                
                <p>Чтобы стать нашим партнером, заполните форму обратной связи, укажите ваши предложения и контакты для связи. Мы обязательно рассмотрим и ответим на каждое обращение.</p>

                <a href="#" class="button">Написать письмо</a>

            </div>
            
        </div>
    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')