* {
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;

    &, &:before, &:after {
        box-sizing: border-box;
    }

    &[dir="ltr"] {
        direction: ltr;
        unicode-bidi: embed;
    }

    &[dir="rtl"] {
        direction: rtl;
        unicode-bidi: embed;
    }
}

html, body { height: 100%; }

html {
    quotes: "“" "”";
    font-size: $font-base;
    font-family: $font-family;
    -ms-touch-action: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100%;
    height: 100%;

    color: $c-text;
    min-width: 320px;
    line-height: 1.42857143;
    font-kerning: none;
    position: relative;
    background-color: $c-body-background;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 73.7%;
    background-attachment: fixed;

    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;

    overflow-y: hidden;
    overflow-x: auto;
    overflow-x: -moz-scrollbars-none;
    overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
    }

    @media (max-width: 480px) {
        overflow-y: auto;
        overflow-x: hidden;
    }

    @media (min-width: 768px) and (min-height: 1024px) and (orientation: portrait) {
        overflow-y: auto;
        overflow-x: hidden;
    }

    @media (min-width: 1025px) {
        width: 100%;
        height: 100%;
    }

    /*
    @media (orientation: portrait) {
        background: cyan;
    }

    @media (orientation: landscape) {
        background: lime;
    }
    */
}

body, input, textarea, select, button {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern','onum','liga';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-align: left;
}

$min_width: 320;
$max_width: 1560;

$min_font: 6;
$max_font: 10;

:root { font-size: #{$min_font}px; }

@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px) {
    :root {
        font-size: calc(#{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width})));
    }
}

@media (min-width: #{$max_width}px) {
    :root {
        font-size: #{$max_font}px;
    }
}
